Checks: "-*,
  bugprone-*,
  boost-*,
  cert-*,
  clang-analyzer-*,
  clang-diagnostic-*
  concurrency-*,
  cppcoreguidelines-*,
  google-*,
  hicpp-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-pro-type-member-init,
  -google-explicit-constructor,
  -hicpp-explicit-conversions,
  -hicpp-member-init"
WarningsAsErrors: "*"
HeaderFilterRegex: "include/.*"
UseColor: true
AnalyzeTemporaryDtors: false
FormatStyle: llvm
